doctype htmp
html
    head
        style.
            .dflex{
                display: flex;
                flex-direction: row;
                margin: 2px;
                align-items: center;       
            } 
        h1=titulo
            div(class='dflex')
                p=min
                meter(value=nivel min=min max=max)
                p=max

