{{#if generated_messages }}
<div class="table-responsive">
    <table id="products" class="table table-dark table-bordered table-striped">
        <tr>
            <th>email</th>
            <th>Timestamp</th>
            <th>Mensaje</th>
            <th>Avatar</th>
        </tr>
        {{#each generated_messages}}
        <tr>
            <td>
                {{this.message.author.email}}
            </td>
            <td>
                {{this.message.timestamp}}
            </td>
            <td>
                {{this.message.text}}
            </td>
            <td>
                <img class="avatar" src={{this.message.author.avatar}}>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{else}}
<h3 id="noHay" class="bg-light text-danger">No hay mensajes</h3>
{{/if}}